page-home {
  ion-header {
    height: 220px;
    margin: 20px;
  }
    img {
      margin: 20px;
    }
  ion-navbar {
    height: 30px;
  }

  ion-content {

  }
    iframe {
    display: flex;
    justify-content: center;
      margin: 20px 0 0 23px;
    }



}



